{% extends "blocks/header.twig" %}

{% block busket %}

<!-- встраивается иконка корзинки -->
<div class="busket_container">
    <img class="busket_picture" src="../assets/pictures/icons/IconBasket.png" alt=""></img>
</div>
{% endblock %}