{% extends "blocks/shop_card.html" %}


{% block borders %}
{{parent()}}
{% endblock %}


{% block back_pict %}
<img class='back_volume_picture' src="{{base_path}}/assets/pictures/shop/card/weapon_back.png" alt=""></img>
{% endblock %}

{% block card_picture %}
<div class='product_volume_container'>
    <img class='product_volume_picture' src="{{base_path}}/assets/pictures/weapon/{{card_pict}}" alt=""></img>
</div>
{% endblock %}

{% block card_text %}
<figcaption class='card_volume_text_container'>
    <p class='card_text'>{{card_name}}</p>
</figcaption>
{% endblock %}