<ul class="user_info_header">
    <li>
        <a class="selected" href="">Покупки</a>
    </li>
    <li>
        <a href="{{url('account/wishlist')}}">Корзина</a>
    </li>
    <li>
        <a href="">Выйти</a>
    </li>
</ul>

<div class="section_underline">
</div>