<div class='swiper-slide'>
    <div class='enemy_card'>
        <div class='enemy_info'>
            <img class='slider_picture' src='../My-Game-Site/assets/pictures/creatures/enemies/{{enemy_pict}}' alt="">

            <div class='enemy_name'>
                <h4 class='enemy_name_text'>{{enemy_name}}</h4>
            </div>

            <div class='about_enemy'>
                <h5 class='about_enemy_text'>{{enemy_description}}</h5>
            </div>
        </div>

        <div class='enemy_anim_container'>
            <ul>
                <li>
                    <div class='enemy_anim_background'>
                        <img class='enemy_anim' src='../My-Game-Site/assets/pictures/gifs/{{enemy_gif1}}' alt="">
                    </div>

                </li>
                <li>
                    <div class='enemy_anim_background'>
                        <img class='enemy_anim' src='../My-Game-Site/assets/pictures/gifs/{{enemy_gif2}}' alt="">
                    </div>
                </li>
                <li>
                    <div class='enemy_anim_background'>
                        <img class='enemy_anim' src='../My-Game-Site/assets/pictures/gifs/{{enemy_gif3}}' alt="">
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>